h1{
    color:red;  
}

.post-list {
    width: 70%;
    margin: 0 auto;
}

.user-post{
    width: 90%;
    height: auto;
    border: 2px solid lightgrey;
    margin: 5px;
    display: inline-block;
    padding-left: 20px
}

.user-post:hover{
    background: lightgrey;
}


.login-setting{
    border-radius: 25px;
    margin: 5px;
}

.create-post-wrapper{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

button {
    width: 200px;
    margin: 15px;
}

.close{
    text-align: right;
}

#load-more-button{
    text-align: center;
    width: 91%;
    margin: 0 auto;
}

.error-message{
    color: red;
}

.custom-size{
    height: 600px;
}